#s1 {
    padding-right: 50px;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightslategray;
    color: white;
    text-align: center;
}

.footerlink {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

