#content-divs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
}

#black-top-box {
    width: 98%;
    height: 52vh;
    margin-top: 5vh;
    border-radius: 10px;
    background-color: #212529;
    position: absolute;
}

#white-bottom-box {
    width: 95%;
}