.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* overflow-y: auto; Remove this line */
    min-height: 70vh;
    margin-left: 7%;
    margin-right: auto;
    margin-bottom: 20px;
    gap: 20px; /* Add this line */
}

.product-card {
    display: flex;
    flex-direction: column;
    background-color: rgba(212, 212, 212, 0.786);
    border: 1px solid #ccc;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    height: 45vh;
    margin-right: 30px;
    flex: 1 0 100%;
}

.product-card img {
    max-width: 100%; /* Add this line */
    max-height: 100%; /* Add this line */
}

/* For screens larger than 768px, show 2 items per row */
@media (min-width: 768px) {
    .product-card {
        flex: 1 0 48%; /* Take 48% of the row (leaving a bit for margins) */
    }
}

/* For screens larger than 1080px, show 3 items per row */
@media (min-width: 1080px) {
    .product-card {
        flex: 1 0 30%; /* Take 30% of the row */
    }
}

#headNavBar {
    width: 95%;
    height: 10vh;
    background-color: rgba(32, 32, 32, 0.987);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#product_images {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Use 'cover' if you want to fill the container while maintaining aspect ratio */
    position: relative;
}

#heading {
    color: black;
}

.product-container:first-child {
    display: flex;
    flex-direction: column;
}

#footer {
    margin-top: 1%;
    border-radius: 10px;
    background-color: rgba(196, 196, 196, 0.987);
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 6vh;
}

#headLineTextStyle {
    margin-left: 0;
    font-size: 45px
}

#img-head {
    margin-top: 10px;
    margin-left: 15px;
}

#add-to-cart-button {
    width: 100px;
    height: 100px;
}


#dashboard-Button {
    transition: all 0.5s ease;
    width: 200px;
    height: 100px;
}

#dashboard-Button.big {
    width: 500px;
    height: 100px;
}