label {
    display: block;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-field {
    width: 48%;
    /* Etwas weniger als 50%, um Platz für den Abstand zwischen den Feldern zu lassen */
}

#rejectText {
    color: black;
    text-decoration-color: black;
    padding-left: 55px;
}

h1 {
    padding-bottom: 30px;
}

.thin-black-line {
    margin-top: 50px;
    border: none;
    border-top: 2px solid rgb(195, 195, 195);
    width: 85%;

}

#bottom-options {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#back-to-login {
    color: rgb(229, 174, 22);
    text-decoration-color: rgb(229, 174, 22);
    text-decoration: none;
}

#back-to-login:hover {
    color: rgb(229, 205, 22);
}

.input-numbers {
    text-align: center;
}